<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
      integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o="
      crossorigin="anonymous"
    />
  </head>
  <body [ngClass]="theme == 1 ? 'standard' : theme == 2 ? 'light' : 'darker'">
    <div id="header">
      <div class="flexrow-container">
        <button
          class="standard-theme theme-selector"
          (click)="theme = 1"
        ></button>
        <button class="light-theme theme-selector" (click)="theme = 2"></button>
        <button
          class="darker-theme theme-selector"
          (click)="theme = 3"
        ></button>
      </div>
      <h1 id="title">
        Just do it.
        <div id="border"></div>
      </h1>
    </div>

    <div class="container">
      <div id="newTask">
        <input
          [(ngModel)]="textFeild"
          id="taskInput"
          type="text"
          placeholder="Task to be done.."
        />
        <button id="push" (click)="addTodo()">ADD</button>
      </div>
      <div id="tasks">
        <div class="task" *ngFor="let string of todos; let i = index">
          <span class="task-name" [ngClass]="{ completed: string.complet }">{{
            string.title
          }}</span>
          <div class="btns">
            <button class="completed-btn" (click)="combleteTodo(i)">
              <i class="fas">&#xf00c;</i>
            </button>
            <button class="delete" id="{{ i }}" (click)="removeTodo(i)">
              <i class="fas">&#xf2ed;</i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
